.header {
  // 95% of the viewport height
  // Note that the below actually specifies _multiple_ background-images
  height: 85vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
  url(../img/hero-small.jpg);
  background-size: cover;
  /* make sure that the top of image stays the same */
  background-position: top;
  position: relative;
  /* Creates polygonal element */
  /* Starts top left, then go clockwise*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* This is important for positioning logo-box */

  @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }



  // For retina screens
  // Also...chaining media queries...cool.              , = OR
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
         only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
         only screen and (min-width: 125em) {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    /* Width scales accordingly via the browser */
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    /* these center the whole hero box */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centers button */
    text-align: center;
  }
}
