/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  /* Changes box model so that paddings/borders aren't added to the height and width of an element */
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* 1.7 times bigger than the previously defined line-height */
  line-height: 1.7;
  color: #777;
  /* Gives the whole page some padding */
  padding: 30px;
}

.header {
  height: 95vh; /* 95% of the viewport height */
  /* Note that the below actually specifies _multiple_ background-images */
  background-image: linear-gradient(
    to right bottom,
    #7ed56fb0,
    #28b485c0),
  url(../img/hero.jpg);
  background-size: cover;
  /* make sure that the top of image stays the same */
  background-position: top;
  /* Creates polygonal element */
  /* Starts top left, then go clockwise*/
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  /* This is important for positioning logo-box */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  /* Width scales accordingly via the browser */
  height: 35px;
}

.text-box {
  position: absolute;
  /* these center the whole hero box */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centers button */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation: moveInLeft 2s ease-out;
  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 2s ease-out;
}

/* An example of a pseudo class */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  /* inline-block gives the element its own space */
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}


.btn:hover {
  transform: translateY(-3px);
  /* rgba determines the subtlety of the shadow */
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  /* The next two always has to be specified. */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  /* This stops a really horrible bouncing thing from happening */
  animation-fill-mode: backwards;
}


/* @keyframes */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}